<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
				<string>RAR</string>
				<string>r00</string>
				<string>r01</string>
				<string>r02</string>
				<string>r03</string>
				<string>r04</string>
				<string>r05</string>
				<string>r06</string>
				<string>r07</string>
				<string>r08</string>
				<string>r09</string>
				<string>r10</string>
				<string>r11</string>
				<string>r12</string>
				<string>r13</string>
				<string>r14</string>
				<string>r15</string>
				<string>r16</string>
				<string>r17</string>
				<string>r18</string>
				<string>r19</string>
				<string>r20</string>
				<string>r21</string>
				<string>r22</string>
				<string>r23</string>
				<string>r24</string>
				<string>r25</string>
				<string>r26</string>
				<string>r27</string>
				<string>r28</string>
				<string>r29</string>
				<string>r30</string>
				<string>r31</string>
				<string>r32</string>
				<string>r33</string>
				<string>r34</string>
				<string>r35</string>
				<string>r36</string>
				<string>r37</string>
				<string>r38</string>
				<string>r39</string>
				<string>r40</string>
				<string>r41</string>
				<string>r42</string>
				<string>r43</string>
				<string>r44</string>
				<string>r45</string>
				<string>r46</string>
				<string>r47</string>
				<string>r48</string>
				<string>r49</string>
				<string>r50</string>
				<string>r51</string>
				<string>r52</string>
				<string>r53</string>
				<string>r54</string>
				<string>r55</string>
				<string>r56</string>
				<string>r57</string>
				<string>r58</string>
				<string>r59</string>
				<string>r60</string>
				<string>r61</string>
				<string>r62</string>
				<string>r63</string>
				<string>r64</string>
				<string>r65</string>
				<string>r66</string>
				<string>r67</string>
				<string>r68</string>
				<string>r69</string>
				<string>r70</string>
				<string>r71</string>
				<string>r72</string>
				<string>r73</string>
				<string>r74</string>
				<string>r75</string>
				<string>r76</string>
				<string>r77</string>
				<string>r78</string>
				<string>r79</string>
				<string>r80</string>
				<string>r81</string>
				<string>r82</string>
				<string>r83</string>
				<string>r84</string>
				<string>r85</string>
				<string>r86</string>
				<string>r87</string>
				<string>r88</string>
				<string>r89</string>
				<string>r90</string>
				<string>r91</string>
				<string>r92</string>
				<string>r93</string>
				<string>r94</string>
				<string>r95</string>
				<string>r96</string>
				<string>r97</string>
				<string>r98</string>
				<string>r99</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rar</string>
			<key>CFBundleTypeName</key>
			<string>Rar</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>Mark.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Mark. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://magicmark.github.io/LUErar2/update.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
